.details-container {
    display: grid;
    padding: 10px;
}

.details-video {
    border: black solid 1px;
    width: 100%;
}

.details-image {
    width: 100%;
    border: solid 2px cornflowerblue;
}

p {
    font-size: small;
}

.back-button {
    color: cornflowerblue;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
    width: fit-content;
}

.back-button:hover {
    color: rgb(72, 112, 185);
}

.button-container {
    border-bottom: 1px solid cornflowerblue;
    margin-bottom: 20px;
}