.tabs-container  {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    /* border-bottom: 1px solid cornflowerblue; */
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    justify-content: center;
}

.tab-left {
    border-bottom: cornflowerblue 4px solid;
    border-top: cornflowerblue 4px solid;
    border-left: cornflowerblue 4px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.tab-right {
    border-bottom: cornflowerblue 4px solid;
    border-top: cornflowerblue 4px solid;
    border-right: cornflowerblue 4px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tab {
    width: 100px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: small;
    cursor: pointer;
    color: cornflowerblue;
    text-align: center;
}

.active {
    background-color: cornflowerblue;
    color: white;
    cursor: none;
}