.layout-container {
    min-height: 100vh;
    background-color: rgb(248, 216, 174);
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 40px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    gap: 2%;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: large;
        width: 20%;
        color: cornflowerblue;
        font-weight: 400;
    }
}

h1 {
    width: fit-content;
    color: cornflowerblue;
    font-weight: 1000;
}

.children-container {
    background-color: whitesmoke;
    border-radius: 20px;
    height: fit-content;
    min-height: 500px;
    padding: 20px;
    border: solid 1px cornflowerblue;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: xx-small;
    color: gray;
    background-color: antiquewhite;
}

.search-icon::before {
    content: '\f002';
    font-family: fontAwesome;
    line-height: 30px;
    color: cornflowerblue;
}

.search {
    display: flex;
    color: cornflowerblue;
    align-items: center;
    cursor: pointer;
    transition: all .3s linear;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    margin-left: 5px;
}

.search-input {
    padding: 7px;
    border-radius: 5px;
    width: 100%;
    border-color: #fff;
    border-width: 0;
    outline: none;
}

.search-input:focus {
    border-width: 0;
    border: 1px solid #fff;
    outline: none;
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-input:active {
    border-color: #fff;
    border-width: 0;
    border: 1px solid #fff;
    outline: none;
}

.show-search {
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid cornflowerblue;
}

.search-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}